html {
	height: 100%;
}

body {
	font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
	background-color: #ced7e0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dde4ea), color-stop(100%, #ced7e0));
	background-image: -moz-linear-gradient(90deg, #ced7e0 0%, #dde4ea);
	background-image: -ms-linear-gradient(90deg, #ced7e0 0%, #dde4ea);
	color: #212f40;
	font-size: 13px;
	line-height: 1.42857143;
}

h1 {
  font-size: 24px;
	text-align: center;
	font-weight: 400;
	color: #212f40;
}

h2 {
  font-size: 18px;
	font-weight: 300;
	color: #666;
	text-align: center;
}

h3 {
  font-size: 13px;
	padding: 3px 10px 3px 10px;
	border-top: 1px solid #c0ccd7;
	border-right: 1px solid #c0ccd7;
	border-bottom: 1px solid #afbcc8;
	background: white;
	display: inline-block;
	font-weight: 600;
	/* height: 19px; */
	margin: 4px 0 2px 0;
}

.main {
	width: 450px;
	margin: 50px auto;
	background-color: white;
	border: 1px solid #9cacbc;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	-webkit-border-radius: 6px;
}

.heading {
	padding: 20px;
	border-bottom: 1px solid #cccccc;
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f2f2f2));
	background-image: -moz-linear-gradient(90deg, #f2f2f2 0%, white);
	background-image: -ms-linear-gradient(90deg, #f2f2f2 0%, white);
	box-shadow: 0px 1px #e5e5e5;
	-moz-box-shadow: 0px 1px #e5e5e5;
	-webkit-box-shadow: 0px 1px #e5e5e5;
	color: #1a232e;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}

fieldset {
	height: 30px;
	border-bottom: 1px solid #cccccc;
	position: relative;
}

input {
	border: none;
	width: 95%;
	height: 28px;
	padding-left: 4%;
	margin: 0;
	font-size: 13px;
}

input:focus, input:hover, input:active {
	outline: none;
	background-color: #ecf0f3;
	padding-right: 1%;
}

button {
	font-size: 13px;
	border: none;
	background-color: transparent;
	font-weight: 600;
	color: #1f8dd6;
	text-align: center;
}

.list fieldset button {
	position: absolute;
	top: 3px;
	right: 6px;
}

.list li {
	max-height: 30px;
	padding-left: 4%;
	vertical-align: bottom;
	padding-top: 6px;
	padding-bottom: 4px;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}

.list i {
	margin-right: 10px;
}

.fa-check, .fa-close, button {
	cursor: pointer;
}

.fa-check {
	color: #d6e9c6;
}

.fa-close {
	color: #ebccd1;
}

.fa-check:hover {
	color: #3c763d;
}

.fa-close:hover {
	color: #a94442;
}

.basket {
	color: #999999;
	background-color: #f2f2f2;
}

.checkout {
	text-align: center;
	padding: 10px;
}